# Include the license file
include LICENSE

# Include the data files
recursive-include djangocms_charts/static *
recursive-include djangocms_charts/templates *

recursive-exclude djangocms_charts/highcharts *