{% load cms_tags staticfiles sekizai_tags i18n chart_tags %}

{% if error %}
    <div class="alert alert-danger" role="alert">DjangoCMS_Charts Error: {{ error }}</div>
{%  else %}
    {# Add required scripts and custom function to build chart - one line each for Sekizai to skip duplicates #}
    {% addtoblock "css" %}<link rel="stylesheet" href="{% static 'djangocms_charts/render/Chart.js/2.9.3/Chart.min.css' %}">{% endaddtoblock %}
    {% addtoblock "js" %}<script src="{% static 'djangocms_charts/render/Chart.js/2.9.3/Chart.min.js' %}"></script>{% endaddtoblock %}

    {% spaceless %}
    {# ----  Chart Container ----  #}
    <div id="{{ instance.chart_container_id }}"
         style="position: relative;
                 {% if instance.chart_width %} width:{{ instance.get_chart_width }};{% endif %}
                 {% if instance.chart_height %} height:{{ instance.get_chart_height }};{% endif %}"
         class="chart-container {{ instance.chart_container_classes }}">
        {# ----  Chart, Title, and Legend  Canvas object ----  #}
        <canvas id="{{ instance.chart_id }}"
                class="chart {{ instance.chart_classes }}"
                aria-label="{{ instance.label|default:'ChartJS Chart'}}"
                role="img"></canvas>
        {% if instance.caption %}<small>{{ instance.caption}}</small>{% endif %}
    </div>
    {% endspaceless %}

    {# Global Settings  Chart.defaults.global. #}
    {% if global_options %}
        {%  addtoblock "js" %}
            <script>
            {% for key, value in global_options %}
                try{ {{ key|safe }} = {{ value|clean_json|safe }}; }
                catch(err){ console.error('Error loading Global Option "{{ key|safe }}": ' + err.message); }
            {% endfor %}
            </script>
        {% endaddtoblock %}
    {% endif %}

    {# Chart Settings   #}
    {%  addtoblock "js" %}
        <script>
            var chart_{{ instance.id }} = null;

            function build_chart_{{ instance.id }}() {

                //Get data and options
                try{
                    var chart_data = {{ chart_data|clean_json|safe }};
                }
                catch(err){
                    console.error('Error loading Chart Options: ' + err.message);
                    return;
                }
                var ctx = $("#{{ instance.chart_id }}").get(0).getContext("2d");

                //Destroy the existing chart if present
                if (chart_{{ instance.id }} != null) {
                    chart_{{ instance.id }}.destroy();
                }
                chart_{{ instance.id }} = new Chart(ctx, chart_data);
            }
            {# Build/rebuild Charts after loading #}
            $(document).ready(function () {
                build_chart_{{ instance.id }}();
            });
            {# Rebuild Charts after editing plugins - Edit mode only #}
            {% if request.toolbar and request.toolbar.edit_mode_active %}
                CMS.$(window).on('cms-content-refresh', function () {
                    location.reload();
                });
            {% endif %}
        </script>
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <script>
            // Uncomment the function below for a full formatted list of Chart.defaults options
            function get_keys(obj, parent, lvl = 0) {
                var arr = new Array();
                for (const key of Object.keys(obj).sort()) {
                    if (obj[key] && obj[key].constructor === Object) {
                        if (lvl === 0) {
                            console.log(`"options.${key}": [`)
                        }
                        var new_parent = (parent !== "") ? parent + "." + key : key;
                        var new_lvl = lvl + 1;
                        get_keys(obj[key], new_parent, new_lvl);
                        if (lvl === 0) {
                            console.log(`],`)
                        }
                    } else {
                        new_prt = (parent === "") ? "options" : parent;
                        arr.push(`"${new_prt}.${key}", `);
                        // console.log(`"${parent}.${key}", `);
                    }
                }
                for(const pk of arr){
                    console.log(pk);
                }
            }
            //get_keys(chart_{{ instance.id }}.options, "");
        </script>
    {% endaddtoblock %}

{% endif %}
