<div id="input-table"></div>

<script>

    //Set Rendering Functions for Labels or Values
    //*******************************************
    var labelRenderer = function (instance, td, row, col, prop, value, cellProperties) {
        Handsontable.TextCell.renderer.apply(this, arguments);
        td.style.background = '#EAEAEA';
        td.style.fontWeight = 'bold';
        td.style.textAlign = 'center';
    };

    var valueRenderer = function (instance, td, row, col, prop, value, cellProperties) {
        Handsontable.TextCell.renderer.apply(this, arguments);
        td.style.background = 'white !important';
        td.style.fontWeight = 'normal !important';
    };


    //Get the data as a two columns or full data
    //*******************************************
    function array_resize(the_data, num_cols=0, num_rows=0) {
        if(!the_data) return;
        //Get number of cols, less than current gets reduced, more get's a blank array concatenated
        if(num_cols > 0) {
            num_cols = num_cols ? num_cols : the_data[0].length;
            add_cols = Math.max(0, num_cols - the_data[0].length);
            append_cols = new Array(add_cols);
            the_data = the_data.map(function (the_row) {
                return the_row.slice(0, num_cols).concat(append_cols);
            });
        }
        if(num_rows > 0){
            num_rows = num_rows ? num_rows : the_data.length;
            add_rows = Math.max(0, num_rows - the_data.length);
            if (add_rows > 0) {
                append_rows = new Array(add_rows).map(() => new Array(the_data[0].length));
                the_data = the_data.concat(append_rows);
            }
            the_data = the_data.slice(0, num_rows);
        }
        return the_data;
    }

    //Get the options based on Chart Type
    //*******************************************
    function get_table_options(table_data, $chart_type, $labels_top, $labels_left, $data_series_format, change_function) {
        var options = {

            //Common Settings
            // ---------------------------
            rowHeaders: true,
            colHeaders: true,
            contextMenu: false,
            startRows: 5,
            minRows: 1,
            minCols: 1,
            manualColumnResize: true,

            // On Change write the data as json
            // ---------------------------
            afterChange: function (change, source) {
                change_function();
            },
            afterRender: function () {
                change_function();
            },

            //Format each cell based on label/value renderer
            // ---------------------------
            cells: function (row, col, prop) {

                var cellProperties = {};

                //If Label then set to grey background and text input
                if ((row === 0 && $labels_top.is(':checked')) || (col === 0 && $labels_left.is(':checked'))) {
                    cellProperties = {
                        type: 'text',
                        renderer: labelRenderer,
                        validator: undefined //must be set explicitly as handsontable isn't working!
                    };
                    //If Input values then must be numeric for chart
                } else {
                    cellProperties = {
                        type: 'numeric',
                        renderer: valueRenderer
                    };
                }
                return cellProperties;
            }
        };

        if($.inArray($chart_type.val(), ['scatter', 'line_xy', 'bubble']) > -1) {

            // X, Y, [R] - Coordinate Cols
            // ---------------------------

            //Get data as a 2 or 3 column array only
            // ---------------------------
            var rows_cols_required = ($chart_type.val() === 'bubble') ? 3 : 2;
            required_labels = ['x', 'y', 'r'].slice(0, rows_cols_required);

            if($data_series_format.val() === 'rows') {
                if($labels_left.prop('checked')) {
                    required_labels.unshift("");
                    rows_cols_required += 1;
                }
                options['data'] = array_resize(table_data, rows_cols_required);
                options['colHeaders'] = required_labels;
                options['rowHeaders'] = true;
                options['startCols'] = rows_cols_required;
                options['contextMenu'] = ['undo', 'redo', '---------', 'row_above', 'row_below', 'remove_row'];
            } else {
                if($labels_top.prop('checked')) {
                    required_labels.unshift("");
                    rows_cols_required += 1;
                }
                options['data'] = array_resize(table_data, 0, rows_cols_required);
                options['rowHeaders'] = required_labels;
                options['colHeaders'] = true;
                options['startRows'] = rows_cols_required;
                options['contextMenu'] = ['undo', 'redo', '---------', 'col_left', 'col_right', 'remove_col'];
            }

        } else {

            // Label - Value Data Series Cols
            // ---------------------------

            //Get data as original loaded data
            // ---------------------------
            options['data'] = table_data;

            //Set options for all other types of charts
            // ---------------------------
            options['colHeaders'] = true;
            options['columns'] = null;
            options['startCols'] = 5;
            options['contextMenu'] = ['undo', 'redo', '---------',
                'row_above', 'row_below', 'remove_row', '---------',
                'col_left', 'col_right', 'remove_col'];
        }
        return options;
    }

</script>

<script>

    (function ($) {

        $(document).ready(function () {

            // Get Form Input Objects
            //*******************************************
            var $chart_type = $("#id_type");
            var $labels_top = $("#id_labels_top");
            var $labels_left = $("#id_labels_left");
            var $data_series_format = $("#id_data_series_format");
            var $output_field = $("#id_{{ name }}");

            // Load original data if exists
            //*******************************************
            var table_data = {{ data|default:"null"|safe }};

            //Get Chart types and set headers, input table container etc.
            //*******************************************
            var input_table_container = document.getElementById("input-table");
            var input_table;


            //Build Table
            //*******************************************
            build_table();

            function build_table() {
                var table_options = get_table_options(table_data, $chart_type, $labels_top, $labels_left, $data_series_format, output_data_to_dom);
                // Remove existing Input table if exists
                if (input_table !== undefined && input_table.table != null) {
                    input_table.destroy();
                    input_table = undefined;
                }
                // Build new input table
                input_table = new Handsontable(input_table_container, table_options);
                output_data_to_dom();
                validate_and_render();
            }

            // Reformat table on change of rows/cols labels
            //*******************************************
            function validate_and_render() {
                if(input_table !== undefined) {
                    input_table.validateCells();
                    input_table.render();
                }
            }

            //Output the table data on change or rebuild to the django div for save/loading.
            //*******************************************
            function output_data_to_dom(){
                if (input_table !== undefined) {
                    table_data = input_table.getData();
                }
                $output_field.val(JSON.stringify(table_data));
            }

            //On change of Type Header Labels - update validation and render table
            //*******************************************
            $($chart_type).add($($labels_left)).add($labels_top).add($data_series_format).change(function () {
                build_table();
            });

            //On change of Chart Type - update table completely
            //*******************************************
            $($chart_type).change(function () {
                build_table();
            });

        });
    })(jQuery);


    //]]>
</script>
<style type="text/css">
    {# Hide the original Text field  #}
    #id_{{ name }} {
        display: none !important;
    }
</style>
